<p>Ein weiteres Jahr geschäftigen Treibens und erfolgreicher Entwicklungsarbeit liegt hinter uns - und wir, das OpenMW-Team, sind stolz darauf, die Veröffentlichung der Version 0.47.0 unserer Open-Source-Engine verkünden zu können! Ladet Euch die aktuelle Version auf unserer (englischsprachigen) <a href="https://openmw.org/downloads/">Download-Seite</a> für Windows, Linux oder macOS herunter.</p>
<p>Mit über 180 bearbeiteten Aufgaben und einer Fülle an neuen Features muss sich dieses Release nicht vor dem gigantischen 0.46.0er Release im letzten Jahr verstecken: Macht Euch gefasst auf Objekt-Paging, das es OpenMW endlich erlaubt, entfernte Objekte effizient darzustellen; die korrekte Unterstützung von Gras-Mods; ein verbessertes Beleuchtungssystem; eine effizientere und robustere Spielphysik; die neue, optionale Über-die-Schulter-Ansicht; und vieles, vieles mehr!</p>
<p>Darüber hinaus haben unsere fleißigen Entwickler wieder zahllose Bugs behoben - sowohl für das Basisspiel als auch für diverse Mods, um eine noch bessere Kompatibilität mit für die Original-Engine erstellten Modifikationen zu garantieren.</p>
<p>Schaut Euch am besten das <a href="https://www.youtube.com/watch?v=_9sUhduT-K4">englische Release-Video</a> an - oder werft einen Blick auf das <a href="https://www.youtube.com/watch?v=9Cwdf7fwO6k">erste deutsche Release-Video</a>, das jemals für OpenMW produziert wurde! Beide stammen aus der Feder unseres neuen Video-Zweiergespanns, dem Release-Veteran Atahualpa und dem 0.46.0-Frischling johnnyhostile, und fassen die wichtigsten Neuerungen zusammen.</p>
<p>Im Folgenden findet Ihr die ins Deutsche übertragene, vollständige Änderungsliste für OpenMW, Version 0.47.0. Viel Spaß beim Lesen!</p>
<p><strong>Bekannte Probleme:</strong></p>
<ul>
<li>Auf macOS kann OpenMW nur dann über den Editor (OpenMW-CS) gestartet werden, wenn &#39;OpenMW.app&#39; und &#39;OpenMW-CS.app&#39; als &#39;siblings&#39; verbunden sind</li>
<li>Lichteffekte auf Zauberpartikeln sehen zu blass aus</li>
<li>Wegfindung während der &quot;Treulosigkeiten&quot;-Quest in der &quot;Tribunal&quot;-Erweiterung funktioniert nicht richtig, so dass Taren Andoren seinen Zielort möglicherweise nicht erreicht; Warten für eine Spielstunde erlaubt es Taren, sein Ziel zu erreichen, so dass das Tagebuch korrekt aktualisiert wird</li>
<li>Performance verzauberter Fernkampfprojektile (z.B. Wurfpfeile) ist schlechter als die anderer Projektile</li>
</ul>
<p><strong>Neue Engine-Features:</strong></p>
<ul>
<li><em>von akortunov</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5524">#5524</a>] Fehlgeschlagene Skripte werden als &#39;inaktiv&#39; markiert und ignoriert, anstatt sie komplett zu entfernen, - so lange, bis das Spiel erneut geladen oder gestartet wird</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5580">#5580</a>] Verweigerung spezifischer NPC-Dienstleistungen (z.B. Handel oder Reparatur) über Filter ermöglicht komplexere Reaktionen anstelle des ursprünglichen &quot;Alles oder nichts&quot;-Verhaltens in der Original-Engine</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5642">#5642</a>] Möglichkeit, Pfeile dem Skelett von Akteuren anstatt dem Bogen zuzuweisen, erlaubt z.B. das Erstellen von Bögen für Linkshänder oder personenabhängiger Schussanimationen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5813">#5813</a>] Gesonderte Behandlung von Gras-Mods mittels so genannter Gras-Instanziierung (&quot;grass instancing&quot;) zur effizienten Darstellung von Bodenvegetation im Spiel</li>
</ul>
</li>
<li><em>von AnyOldName3</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4899">#4899</a>] &quot;Alpha-to-Coverage&quot;-Antialiasing: verbessert das Aussehen alpha-getester Texturen, z.B. Laub-Texturen aus dem &quot;Morrowind Optimization Patch&quot;</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4977">#4977</a>] OpenMW zeigt ein Platzhalter-Symbol, falls das eigentliche Symbol eines Gegenstandes nicht gefunden wurde</li>
</ul>
</li>
<li><em>von Assumeru</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/2404">#2404</a>] Stufenabhängige Listen (&quot;levelled lists&quot;) können in Behältern platziert werden</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/2798">#2798</a>] Basisdatensätze sind variabel (&quot;mutable&quot;), d.h. das Modifizieren einer Instanz eines Basisdatensatzes (z.B. einer Wache) wirkt sich nun auf alle anderen Instanzen desselben Typs aus (z.B. alle Klone dieser Wache)</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5730">#5730</a>] Option zur Unterstützung des sichtbaren &quot;Aufsammelns&quot; von Pflanzen (&quot;graphic herbalism&quot;) im &#39;Advanced&#39;-Reiter des Launchers</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5771">#5771</a>] Der &#39;ori&#39;-Konsolenbefehl zeigt nun auch die Herkunft eines Meshes an und gibt an, ob die mit dem Präfix &quot;x&quot; versehene Version verwendet wird</li>
</ul>
</li>
<li><em>von bzzt</em><ul>
<li>Korrekte Unterwasser-Schatten bei eingeschalteter Lichtbrechung (Refraktion); deaktiviert, falls Skalierungsfaktor (&#39;refraction scale&#39;) ungleich 1,0 <em>[Ergänzungen von AnyOldName3 und madsbuvi]</em></li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/2386">#2386</a>] Optional: Darstellung entfernter statischer Objekte mittels Objekt-Paging, d.h. Zusammenfassen benachbarter Objekte; standardmäßig eingeschaltet, benötigt aber aktivierte &#39;Distant land&#39;-Option <em>[Korrekturen und Feinschliff von psi29a]</em></li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/2386">#2386</a>] Optional: Objekt-Paging in aktiven Zellen (3x3-Gitter um den Helden herum); standardmäßig eingeschaltet <em>[Korrekturen und Feinschliff von psi29a]</em></li>
</ul>
</li>
<li><em>von Capostrophic</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5362">#5362</a>] Dialogfenster für das Aufteilen von Gegenständen zeigt den Namen der in einem Stapel Seelensteine gefangenen Seele an</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5445">#5445</a>] Verarbeitung der &#39;NiLines&#39;-Eigenschaft in NIF-Modellen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5545">#5545</a>] Optional: Zu Boden gegangene (bewusstlose) NPCs können bestohlen werden; standardmäßig ausgeschaltet</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5579">#5579</a>] Unterstützung der Rotation in umgekehrter Reihenfolge (z-, y-, dann x-Achse) in der &#39;SetAngle&#39;-Funktion</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5649">#5649</a>] Unterstützung des komprimierten BSA-Formats der &quot;TES V: Skyrim Special Edition&quot;</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5672">#5672</a>] Option für an die Bildschirmauflösung angepasste Menühintergründe ist nun auch im Launcher verfügbar</li>
</ul>
</li>
<li><em>von CedricMocquillon</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/1536">#1536</a>] Anzeige der momentan erreichten Stufenaufstieg-Multiplikatoren für Attribute im &#39;Stufe&#39;-Tooltip</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4486">#4486</a>] Behandlung und Aufzeichnung von Abstürzen auf Windows</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5297">#5297</a>] Suchleiste im &#39;Data Files&#39;-Reiter des Launchers</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5486">#5486</a>] Optional: Angebotene Fertigkeiten von Ausbildern und deren Höchstgrenze werden durch Basis- statt modifizierte Werte bestimmt; standardmäßig ausgeschaltet</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5519">#5519</a>] Neugeordneter und erweiterter &#39;Advanced&#39;-Reiter im Launcher, um analog zum MCP (&quot;Morrowind Code Patch&quot;) implementierte Einstellungen zu integrieren</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5814">#5814</a>] &#39;bsatool&#39; kann bestehende BSA-Archive erweitern oder neue erstellen (unterstützt alle BSA-Formate)</li>
</ul>
</li>
<li><em>von elsid</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4917">#4917</a>] Objekte, die zu klein sind, um das Navigationsnetz (&quot;navigation mesh&quot;) zu beeinflussen, veranlassen nun keine Aktualisierung dieses Netzes mehr, was dessen Effizienz erhöht</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5500">#5500</a>] Das Laden einer Spielszene endet nun erst dann, wenn genug Teile des Navigationsnetzes um den Helden herum erstellt worden sind</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6033">#6033</a>] Existierende Wegpunkte-Gitter werden nun automatisch dem Navigationsnetz hinzugefügt, um die Wegfindung weiter zu verbessern</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6033">#6033</a>] Rückfall in den alten Wegfindungsalgorithmus teilweise entfernt, um z.B. zu verhindern, dass Akteure ihre Feinde durch Lavaströme verfolgen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6034">#6034</a>] Berechnung optimaler Routen basierend auf der individuellen Geschwindigkeit eines Akteurs zu Land und zu Wasser</li>
</ul>
</li>
<li><em>von fr3dz10</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/2159">#2159</a>] Optional: Gesprächsthemen, die zum Zeitpunkt des Dialogs keine neuen Antworten brächten, werden ausgegraut; neue Themen werden farblich hervorgehoben; standardmäßig ausgeschaltet (die Farben sind einstellbar)</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4201">#4201</a>] Kollisionen zwischen Projektilen inkl. Zaubern (ein erfolgreicher Treffer neutralisiert beide Projektile); imitiert das Verhalten in der Original-Engine</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5563">#5563</a>] Optional: Physik-Berechnungen werden in einem oder mehreren Hintergrund-Threads abgearbeitet, um die Effizienz zu erhöhen; standardmäßig ausgeschaltet</li>
</ul>
</li>
<li><em>von glassmancody.info</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5828">#5828</a>] Neues, Shader-basiertes, anpassbares Beleuchtungssystem, das das bisherige Maximum von acht Lichtquellen pro Objekt entfernt</li>
</ul>
</li>
<li><em>von jefetienne</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5692">#5692</a>] Der Filter im Zauberspruch-Fenster zeigt nun auch Gegenstände und Zauber mit zutreffenden magischen Effekten an - nicht nur solche mit zutreffendem Namen</li>
</ul>
</li>
<li><em>von ptmikheev</em><ul>
<li>Verbesserte freie Heldenansicht in der Verfolgerperspektive</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/390">#390</a>] Optional: Kamera schaut in Verfolgerperspektive über die Schulter des Helden; standardmäßig ausgeschaltet</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/390">#390</a>] Optional: Automatisches Wechseln der Kamera zur anderen Schulter in engen Gängen; standardmäßig eingeschaltet, benötigt aber aktivierte &#39;View over the shoulder&#39;-Option</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/2686">#2686</a>] Aufgezeichnete Informationen in der &#39;openmw.log&#39;-Datei werden mit Zeitstempeln versehen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4894">#4894</a>] Optional: NPCs vermeiden Kollisionen beim Laufen; standardmäßig ausgeschaltet</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4894">#4894</a>] Optional: NPCs machen Platz für sich bewegende Akteure, falls sie gerade nichts Wichtiges zu tun haben; standardmäßig eingeschaltet, benötigt aber aktivierte &#39;NPCs avoid collisions&#39;-Option</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5043">#5043</a>] Optional: Kamera schwankt beim Laufen in der Egoperspektive (&quot;head bobbing&quot;); standardmäßig ausgeschaltet (Stärke des Effekts einstellbar)</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5457">#5457</a>] Optional: Verbesserte Charakteranimationen bei diagonaler Fortbewegung; standardmäßig ausgeschaltet</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5610">#5610</a>] Optional: Akteure laufen weicher und drehen sich weniger ruckartig um; standardmäßig ausgeschaltet</li>
</ul>
</li>
<li><em>von simonmeulenbeek</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5511">#5511</a>] Audio-Einstellungen im &#39;Advanced&#39;-Reiter des Launchers hinzugefügt</li>
</ul>
</li>
<li><em>von TescoShoppah</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/3983">#3983</a>] Installationsassistent verlinkt nun den FAQ-Abschnitt über Möglichkeiten des (legalen!) Erwerbs einer Morrowind-Kopie</li>
</ul>
</li>
<li><em>von unelsson</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5456">#5456</a>] Grundlegende Unterstützung von &#39;Collada&#39;-Animationen</li>
</ul>
</li>
<li><em>von wareya</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5762">#5762</a>] Der Bewegungslöser (&quot;movement solver&quot;) ist nun deutlich robuster</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5910">#5910</a>] Spielphysik greift im Notfall auf so genannte harte Delta-Zeit (&quot;true delta time&quot;) zurück, um die Berechnungsdauer pro Frame zu begrenzen und so ein Einfrieren (und Abstürzen) des Spiels zu vermeiden</li>
</ul>
</li>
</ul>
<p><strong>Neue Editor-Features:</strong></p>
<ul>
<li><em>von Atahualpa</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6024">#6024</a>] Einstellbare Aktionen für primäre und sekundäre Auswahltasten beim Editieren von Terrain (&#39;Terrain land editing&#39;, siehe <a href="https://gitlab.com/OpenMW/openmw/-/issues/3171">#3171</a>)</li>
</ul>
</li>
<li><em>von olcoal</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5199">#5199</a>] Bessere und einstellbare Hintergrundfarben in der 3D-Ansicht</li>
</ul>
</li>
<li><em>von unelsson</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/832">#832</a>] Korrekte Behandlung gelöschter Instanzen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/3171">#3171</a>] Objektauswahl in der 3D-Ansicht: zentrierter Würfel (&#39;Centred cube&#39;), an Ecke aufgezogener Würfel (&#39;Cube corner to corner&#39;), zentrierte Kugel (&#39;Centred sphere&#39;)</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/3171">#3171</a>] Konfigurierbare Aktionen für die Objektauswahl: auswählen (&#39;Select only&#39;), zur Auswahl hinzufügen (&#39;Add to selection&#39;), von Auswahl abziehen (&#39;Remove from selection&#39;), Auswahl umkehren (&#39;Invert selection&#39;)</li>
</ul>
</li>
</ul>
<p><strong>Behobene Engine-Bugs:</strong></p>
<ul>
<li><em>von akortunov</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/3714">#3714</a>] Konflikte zwischen &#39;SpellState&#39;- und &#39;MagicEffects&#39;-Funktionalität der Engine behoben</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/3789">#3789</a>] Das Aktualisieren der aktiven magischen Effekte sollte nun nicht mehr zu Abstürzen führen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4021">#4021</a>] Werte von Attributen und Fertigkeiten werden nun als Fließkommazahlen gespeichert</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4623">#4623</a>] Implementierung der Corprus-Krankheit wurde verbessert</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5108">#5108</a>] Die Speichergröße von Spielständen wird nicht länger durch ein ungeeignetes Nebel-Texturformat aufgebläht</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5165">#5165</a>] Aktive Zaubereffekte werden nun in Echtzeit aktualisiert, anstatt Zeitstempel zu verwenden, was Probleme mit der Zeitskalierung im Spiel und mit geskripteten Tageszeitänderungen behebt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5387">#5387</a>] &#39;Move&#39;- und &#39;MoveWorld&#39;-Befehle aktualisieren nun die Zelle des verschobenen Objektes in korrekter Weise</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5499">#5499</a>] Die Spiellogik für Beförderungen innerhalb einer Fraktion berücksichtigt nun auch die zweite der beiden bevorzugten Fertigkeiten der jeweiligen Fraktion</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5502">#5502</a>] Die Totzone für Analog-Sticks kann nun in der &#39;openmw.cfg&#39;-Datei eingestellt werden</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5619">#5619</a>] Tastatureingaben während des Ladens von Spielständen werden nun ignoriert</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5975">#5975</a>] Kontrollpunkte so genannter &quot;Sheath&quot;-Modelle (die in Mods mit wegsteckbaren Waffen genutzt werden) werden nun deaktiviert, um z.B. das versehentliche Abspielen von Schussanimationen für Bögen der &quot;HQ Arsenal&quot;-Mod zu verhindern</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6043">#6043</a>] Schild-Animationen von NPCs werden nun abgebrochen, sobald eine Lichtquelle an Stelle des Schildes ausgerüstet wird</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6047">#6047</a>] Tastenbelegungen für Maustasten können nun nicht mehr ausgelöst werden, wenn die Steuerung im Spiel deaktiviert ist, z.B. während des Ladens eines Spielstandes</li>
</ul>
</li>
<li><em>von AnyOldName3</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/2069">#2069</a>] &#39;NiFlipController&#39; in NIF-Modellen werden nun nur noch auf die Basistextur angewendet, was z.B. Darstellungsprobleme mit den Glühwürmchen aus der Mod &quot;Fireflies Invade Morrowind&quot; behebt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/2976">#2976</a>] Probleme mit der Priorität der lokalen und globalen Konfigurationsdateien behoben</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4631">#4631</a>] Grafikkarten, die einen Antialiasing-Faktor von 16 nicht unterstützen, verwenden nun automatisch einen geringeren Wert, wenn in den Optionen &#39;16&#39; eingestellt wird</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5391">#5391</a>] Charaktermodelle aus der Mod &quot;Races Redone&quot; werden nun im Inventar korrekt angezeigt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5688">#5688</a>] Der Wasser-Shader wird nun in Innenräumen auch dann korrekt ausgeführt, wenn Schatteneffekte in Innenräumen deaktiviert worden sind</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5906">#5906</a>] Sonnenblendeffekt (&quot;sun glare&quot;) funktioniert nun auch mit &#39;Mesa&#39;-Treibern und AMD-Grafikkarten</li>
</ul>
</li>
<li><em>von Assumeru</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/2311">#2311</a>] NPCs, die nicht einzigartig sind (z.B. Wachen), können nun Ziel von Skripten sein</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/2473">#2473</a>] Wird einem Händler eine Ware verkauft, deren Bestand immer sofort aufgefüllt wird, so erhöht sich nun dauerhaft die angebotene Menge dieser Ware</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/3862">#3862</a>] Zufällige Inhalte von Behältern werden nun ähnlich wie in der Original-Engine bestimmt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/3929">#3929</a>] Behälter mit zufällig generiertem Inhalt werden nun nicht wieder aufgefüllt, wenn der Held sie plündert und anschließend mit dem Besitzer des Behälters handelt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4039">#4039</a>] Gefolgsleute folgen ihrem Anführer nun nicht mehr im Gänsemarsch, sondern halten alle den gleichen Abstand zu ihm ein</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4055">#4055</a>] Falls eine lokale Instanz eines Skriptes erzeugt wird und bereits eine globale Instanz desselben Skripts aktiv ist, so werden die Variablen des lokalen Skripts nun mit den Werten des globalen initialisiert</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5300">#5300</a>] NPCs wechseln von Fackel zu Schild, wenn sie in einen Kampf geraten <em>[inspiriert von Capostrophics Vorarbeit]</em></li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5423">#5423</a>] Größere Kreaturen, z.B. Guars, die einem Akteur folgen, rempeln diesen nun nicht mehr an</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5469">#5469</a>] Geskriptete Drehungen oder Verschiebungen von großen Objekten setzen nicht länger den Nebel des Krieges der Umgebungskarte zurück</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5661">#5661</a>] Das Soundsystem nutzt nun Rückfallwerte, um die minimale und maximale Zeit zwischen regionsabhängigen Umgebungsgeräuschen zu bestimmen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5661">#5661</a>] Es besteht nun die Möglichkeit, dass kein Umgebungsgeräusch abgespielt wird, falls die Summe der Wahrscheinlichkeiten aller Geräusche kleiner als 100 % ist</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5687">#5687</a>] Gleichzeitig ausklingende Beschwörungszauber für Gegenstände, die denselben Inventarplatz belegen, lassen das Spiel nicht länger einfrieren</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5835">#5835</a>] Skripte können nun KI-Werte (&#39;AI Hello&#39;, &#39;AI Alarm&#39;, &#39;AI Fight&#39;, &#39;AI Flee&#39;) auf negative Werte setzen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5836">#5836</a>] Voraussetzungen für Gesprächsantworten, die negative KI-Werte als Bedingung enthalten, funktionieren nun korrekt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5838">#5838</a>] Teleport-Türen, deren Zielort nichtexistierende, namenlose Zellen sind, korrumpieren nun nicht mehr die Umgebungskarte</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5840">#5840</a>] Angreifende NPCs, die von einem Feuer-/Frost-/Schockschildeffekt des Feindes getroffen werden, lösen nun den entsprechenden Sound-Effekt aus</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5841">#5841</a>] Kostenlose Zauber können nun auch dann gewirkt werden, wenn der zaubernde Akteur keine Magiepunkte mehr hat</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5871">#5871</a>] Benutzer mit russischem Tastatur-Layout können nun das &#39;Ё&#39;-Zeichen in Eingabefeldern verwenden, ohne dass sich die Konsole öffnet</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5912">#5912</a>] Effekte von Beschwörungszaubern werden bei Fehlschlagen der Beschwörung nicht mehr sofort entfernt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5923">#5923</a>] Mausklicks auf textfreie Flächen im Tagebuch können nun nicht mehr zum spontanen Öffnen von Themen auf der nächsten Seite führen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5934">#5934</a>] Kompatibilität zur Original-Engine: Die angegebene Anzahl der hinzuzufügenden Gegenstände in &#39;AddItem&#39;-Skriptbefehlen wird nun in einen vorzeichenlosen Wert umgerechnet, so dass negative Werte &quot;überlaufen&quot; und zum Hinzufügen einer positiven Menge von Gegenständen führen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5991">#5991</a>] Skripte können nun Bücher und Schriftrollen aktivieren, wenn sich das Spiel in der Inventaransicht befindet</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6007">#6007</a>] Fehlerhafte Videodateien können nicht länger zu Spielabstürzen führen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6016">#6016</a>] Schleichende oder springende NPCs halten nun nicht mehr an und drehen sich auch nicht zur Begrüßung des Helden um</li>
</ul>
</li>
<li><em>von Capostrophic</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4774">#4774</a>] Wachen ignorieren nicht länger Angriffe eines unsichtbaren Helden, sondern sprechen diesen an und fliehen, falls sich der Held der Verhaftung widersetzt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5358">#5358</a>] Das Ansprechen eines anderen Akteurs, ohne das Dialogfenster vorher zu schließen, löscht nun nicht mehr den Gesprächsverlauf, was z.B. Gespräche mit mehreren Teilnehmern mittels &#39;ForceGreeting&#39;-Befehl ermöglicht</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5363">#5363</a>] Das &#39;Auto Calc&#39;-Flag für Verzauberungen wird nun von OpenMW-CS und OpenMWs &#39;esmtool&#39; auch als solches behandelt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5364">#5364</a>] Skripte, die ein nichtexistierendes globales Skript aufrufen wollen, überspringen diesen Schritt nun einfach, statt ihre Ausführung komplett abzubrechen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5367">#5367</a>] Bei Auswahl eines bereits ausgerüsteten Zaubers oder magischen Gegenstandes über eine Schnelltaste wird nun nicht mehr das Ausrüsten-Geräusch abgespielt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5369">#5369</a>] Der Skalierungswert in stufenabhängigen Kreaturenlisten wird nun auf die Größe der erzeugten Kreaturen angewendet</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5370">#5370</a>] Ach, Bethesda: Das Benutzen eines Schlüssels zum Öffnen einer fallenbewehrten Tür oder eines fallenbewehrten Behälters entschärft nur noch dann die Falle, wenn die Tür bzw. der Behälter auch tatsächlich abgeschlossen ist</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5397">#5397</a>] NPC-Begrüßungszeilen werden nun korrekt zurückgesetzt, wenn ein Bereich verlassen und erneut betreten wird</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5403">#5403</a>] Visuelle Zaubereffekte, die auf einen Akteur wirken, werden nun während dessen Sterbeanimation weiter abgespielt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5415">#5415</a>] Modelle ausgerüsteter Gegenstände mit Environment-Maps, z.B. die Rüstungen der &quot;HiRez Armors&quot;-Mod, zeigen diesen Effekt nun auch</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5416">#5416</a>] In NIF-Modellen werden unbrauchbare Wurzeln, die keine Knoten sind, (&quot;non-node root records&quot;) nun weniger streng behandelt, damit Ressourcen bestimmter Mods geladen werden können</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5424">#5424</a>] Kreaturen wenden ihre Köpfe nun dem Helden zu</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5425">#5425</a>] Magische Effekte, deren Wirkung nicht einmalig ist, haben nun eine Mindestlaufzeit von einer Sekunde</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5427">#5427</a>] Die &#39;GetDistance&#39;-Funktion stoppt nun nicht mehr die Ausführung von Skripten, falls kein Objekt mit der übergebenen ID existiert</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5427">#5427</a>] Die &#39;GetDistance&#39;-Funktion und die interne Objektsuche zeichnen nun bessere Warnmeldungen auf, falls Objekte für eine gegebene ID fehlen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5435">#5435</a>] Feindliche Angriffe können den Helden nun auch dann treffen, wenn die Kollisionsberechnung ausgeschaltet ist (Konsole: &#39;tcl&#39;)</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5441">#5441</a>] Die Priorität bestimmter Animationen wurde korrigiert, so dass Feinde den Helden nun wegstoßen können, wenn Letzterer in der Egoperspektive zum Schlag ausholt und diese Position einfach hält</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5451">#5451</a>] Magische Projektile verschwinden nun sofort, wenn ihre Quelle verschwindet oder stirbt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5452">#5452</a>] Automatisches Laufen wird nicht mehr in Spielständen gespeichert, so dass der Held in diesem Fall nach dem Laden wieder stillsteht</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5484">#5484</a>] Gegenstände mit einem Basiswert von 0 können nun nicht mehr für ein Goldstück verkauft werden</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5485">#5485</a>] Erfolgreiche Einschüchterungsversuche erhöhen nun die Stimmung des Gesprächspartners wenigstens um einen Minimalwert</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5490">#5490</a>] Treffer auf den linken Waffenslot werden nun auf den linken Schulter- bzw. den Brustplatten-Slot umgeleitet, falls der Akteur keinen Schild ausgerüstet hat</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5525">#5525</a>] Das Suchfenster im Inventar ignoriert Groß- und Kleinschreibung nun auch für Nicht-ASCII-Zeichen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5603">#5603</a>] Beim Wechsel zu konstanten Zaubereffekten im Verzauberungsmenü werden nun alle Effekte auf &#39;Sich selbst&#39; gesetzt, oder aber entfernt, falls sie nicht auf den Zaubernden selbst gewirkt werden können</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5604">#5604</a>] OpenMWs Ladekomponenten für Meshes können nun NIF-Dateien mit mehreren Wurzeln (&quot;root nodes&quot;) richtig interpretieren</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5611">#5611</a>] Reparaturhämmer mit 0 Anwendungen können nun nur noch ein Mal benutzt werden, bevor sie kaputtgehen; Dietriche und Sonden mit 0 Anwendungen bewirken hingegen gar nichts - danke, Bethesda!</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5622">#5622</a>] Die Priorität des Hauptmenü-Fensters wurde verringert, um zu verhindern, dass die Konsole den Mausfokus verliert und nicht mehr erreichbar ist</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5627">#5627</a>] Der Syntaxanalysierer (Parser) für Schriftstücke berücksichtigt nun Bilder und Formatierungs-Tags, die auf das letzte Zeilenende-Tag (&quot;<br>&quot;) folgen, damit Bücher bestimmter Mods korrekt dargestellt werden können</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5633">#5633</a>] Negative Zaubereffekte, die vor dem Wechsel in den Gottmodus (Konsole: &#39;tgm&#39;) gewirkt wurden, schädigen den Helden nicht weiter</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5639">#5639</a>] Tooltips verdecken nun nicht mehr Hinweisfenster im Spiel</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5644">#5644</a>] Aktive Beschwörungseffekte auf dem Helden führen nicht länger zu Abstürzen während des Spielstarts</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5656">#5656</a>] Charaktere, die sich im Schleichen-Modus befinden, wechseln beim Blocken von Angriffen nun nicht mehr temporär in eine aufrechte Haltung</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5695">#5695</a>] Akteure, die über einen Skriptbefehl zum Wirken eines Fernzaubers auf sich selbst gezwungen werden, zielen nun auf ihre Füße statt in die Richtung ihres aktuellen Ziels</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5706">#5706</a>] KI-Sequenzen (z.B. für patrouillierende NPCs) werden nun beim erneuten Laden eines Spielstandes weiterhin in Endlosschleife ausgeführt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5758">#5758</a>] Unter Wasser befindliche Akteure treiben nun an die Wasseroberfläche, wenn sie gelähmt sind</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5758">#5758</a>] Akteure unter Einfluss eines Levitationszaubers fallen nun zu Boden, wenn sie gelähmt werden</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5869">#5869</a>] Wachen konfrontieren den Helden nun nur noch dann mit einem Verbrechen, falls sich dieser in Sichtweite befindet</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5877">#5877</a>] Die Transparenz von Symbolen für aktive magische Effekte wird nun korrekt zurückgesetzt, um das Auftauchen &quot;leerer&quot; Symbole in bestimmten Situationen zu verhindern</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5902">#5902</a>] &#39;NiZBufferProperty&#39; verarbeitet nun &#39;depth test&#39;-Flag</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5995">#5995</a>] Der so genannte UV-Versatz (&quot;UV offset&quot;) in &#39;NiUVControllern&#39; - der in der Original-Engine zur Simulation der Bewegung von Flüssigkeiten genutzt wird - wird nun korrekt berechnet</li>
</ul>
</li>
<li><em>von ccalhoun1999</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5101">#5101</a>] Feindlich gesonnene Begleiter folgen dem Helden nun nicht mehr durch Türen und nutzen auch keine Reisedienstleistungen mit ihm zusammen</li>
</ul>
</li>
<li><em>von davidcernat</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5422">#5422</a>] Euer Held verliert nun nicht mehr alle seine Zaubersprüche, wenn er mit dem &#39;resurrect&#39;-Konsolenbefehl wiederbelebt wird</li>
</ul>
</li>
<li><em>von elsid</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4764">#4764</a>] Haupt- und Rendering-Thread werden nun synchronisiert, um Fehler beim Erzeugen von Partikeln zu verhindern, z.B. bei Wasserwellen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5479">#5479</a>] Fehler bei der KI-Wegfindung behoben, der dazu führte, dass NPCs wie angewurzelt herumstanden, statt durch die Gegend zu laufen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5507">#5507</a>] Alle Lautstärkeeinstellungen sind nun immer auf den Bereich [0,0; 1,0] beschränkt und können diesen nicht mehr potenziell durch Änderungen in den Spieleinstellungen verlassen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5531">#5531</a>] Fliehende Akteure werden nun korrekt gedreht, um z.B. zu verhindern, dass Klippenläufer auf der Flucht ins Wasser tauchen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5914">#5914</a>] Der interne &#39;Navigator&#39; erstellt nun lokal beschränkte Pfade für Akteure mit weit entfernten Zielen, um sicherzustellen, dass die Wegfindung auch über große Distanzen (außerhalb des Navigationsnetzes) funktioniert</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6294">#6294</a>] Spielabsturz behoben, der von leeren Wegpunkte-Gittern verursacht wurde</li>
</ul>
</li>
<li><em>von fr3dz10</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/3372">#3372</a>] Magische und nicht-magische Projektile kollidieren nun immer mit sich bewegenden Zielen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4083">#4083</a>] Sich öffnende oder schließende Türen imitieren beim Zusammenstoßen mit einem Akteur nun das Verhalten der Original-Engine <em>[teilweise behoben von elsid]</em></li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5472">#5472</a>] &quot;Zero-Lifetime&quot;-Partikel werden nun korrekt verarbeitet und eine zugehörige potenzielle Null-Division im &#39;NiParticleColorModifier&#39;, die zu Abstürzen auf Nicht-PC-Betriebssystemen führte, wenn z.B. Melchior Dahrks &quot;Mistify&quot;-Mod verwendet wurde, wurde behoben</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5548">#5548</a>] Die &#39;ClearInfoActor&#39;-Skriptfunktion löscht nun immer das korrekte Gesprächsthema eines Akteurs</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5739">#5739</a>] Fallschaden kann nun nicht mehr durch Speichern und Neuladen kurz vor dem Aufprall vermieden werden</li>
</ul>
</li>
<li><em>von glassmancody.info</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5899">#5899</a>] Noch geöffnete Fenster mit Entscheidungsmöglichkeiten führen bei Beenden des Spiels nun nicht mehr zu Abstürzen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6028">#6028</a>] NIF-Partikelsysteme erben nun die Partikel-Anzahl aus ihren &#39;NiParticleData&#39;-Einträgen auf korrekte Weise, was z.B. Probleme mit der Mod &quot;I Lava Good Mesh Replacer&quot; behebt</li>
</ul>
</li>
<li><em>von kyleshrader</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5588">#5588</a>] Mausklicks auf leere Seiten im Tagebuch führen nicht länger zum Aufschlagen zufälliger Gesprächsthemen</li>
</ul>
</li>
<li><em>von madsbuvi</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5539">#5539</a>] Wechsel von niedrigerer zu Vollbild-Auflösung führen nicht länger zu einem fehlerhaft skalierten Spielfenster</li>
</ul>
</li>
<li><em>von mp3butcher</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/1952">#1952</a>, <a href="https://gitlab.com/OpenMW/openmw/-/issues/3676">#3676</a>] &#39;NiParticleColorModifier&#39; in NIF-Dateien werden nun richtig behandelt, was u.a. Probleme mit Feuer- und Rauch-Partikeleffekten behebt</li>
</ul>
</li>
<li><em>von ptmikheev</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5557">#5557</a>] Seitwärtsbewegungen mit einem Analog-Stick resultieren nun nicht mehr in einer langsameren Bewegungsgeschwindigkeit verglichen mit der normalen Tastatureingabe</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5821">#5821</a>] NPCs, die von einer Mod hinzugefügt und in eine andere Zelle bewegt worden sind, werden nun korrekt von OpenMW registriert, wenn sich die Position der Mod in der Ladereihenfolge ändert</li>
</ul>
</li>
<li><em>von SaintMercury</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5680">#5680</a>] Akteure zielen beim Wirken magischer Projektile nun auf die richtige Höhe, was z.B. verhindert, dass Netchbullen andauernd über den Kopf des Helden hinweg zielen</li>
</ul>
</li>
<li><em>von Tankinfrank</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5800">#5800</a>] Das Ausrüsten eines Ringes mit konstanter Verzauberung kann nun nicht länger zum Ablegen eines Ringes mit auslösbarem Zauber führen, falls dieser Zauber aktuell im Zaubermenü ausgewählt ist</li>
</ul>
</li>
<li><em>von wareya</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/1901">#1901</a>] Das Kollisionsverhalten von Akteuren ähnelt nun noch mehr dem der Original-Engine</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/3137">#3137</a>] Laufen auf der Stelle in eine Wand hinein hindert den Helden nun nicht mehr daran, zu springen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4247">#4247</a>] Dank der Nutzung von AABB-Kollisionskörpern (&quot;axis-aligned bounding box&quot;) können Akteure nun bestimmte, ehemals problematische steile Treppen erklimmen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4447">#4447</a>] Die Kollisionskörper von Akteuren wurden angepasst, um den Helden daran zu hindern, durch bestimmte Wände zu spähen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4465">#4465</a>] NPCs zucken nun nicht mehr unkontrolliert, falls ihr Kollisionskörper mit einem anderen überlappt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4476">#4476</a>] Der Held schwebt während Echtzeit-Reisen in abots &quot;Gondoliers&quot;-Mod nicht länger in der Luft</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4568">#4568</a>] Akteure können sich nicht mehr gegenseitig durch Levelgrenzen schieben, wenn zu viele von ihnen auf einem Haufen sind</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5431">#5431</a>] Szenen mit sehr, sehr vielen Akteuren können nun nicht mehr zu unaufhaltsamen Abwärtsspiralen in der Physik-Performance führen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5681">#5681</a>] Helden kollidieren nun korrekt mit Holzbrücken, anstatt steckenzubleiben oder durch sie hindurchzurennen</li>
</ul>
</li>
</ul>
<p><strong>Behobene Editor-Bugs:</strong></p>
<ul>
<li><em>von akortunov</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/1662">#1662</a>] OpenMW-CS stürzt nicht länger ab, falls ein Datei- oder ein Konfigurationspfad Nicht-ASCII-Symbole enthalten</li>
</ul>
</li>
<li><em>von Atahualpa</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5473">#5473</a>] Zellgrenzen werden nun korrekt eingezeichnet, wenn Änderungen am Terrain rückgängig gemacht oder wiederholt werden</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6022">#6022</a>] Das Terrain-Auswahlgitter wird nun korrekt eingezeichnet, wenn Änderungen am Terrain rückgängig gemacht oder wiederholt werden</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6023">#6023</a>] Objekte in der 3D-Ansicht blockieren nun nicht mehr das Auswählen von Terrain im &#39;Terrain land editing&#39;-Modus</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6035">#6035</a>] Kreis-Auswahlwerkzeug wählt nicht länger Terrain außerhalb des Kreisbogens aus</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6036">#6036</a>] Terrain-Auswahlwerkzeuge ignorieren nicht länger Vertices an der Nordost- und an der Südwest-Ecke einer Zelle</li>
</ul>
</li>
<li><em>von Capostrophic</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5400">#5400</a>] Der Datenprüfer (&#39;Verifier&#39;) prüft Körperteile (&#39;Body Parts&#39;) von Kleidung und Rüstung nun nicht mehr auf einen angeblich vorhandenen &quot;Rasse&quot;-Eintrag</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5731">#5731</a>] Röcke, die von NPCs getragen werden, werden nun in der 3D-Ansicht korrekt dargestellt</li>
</ul>
</li>
<li><em>von unelsson</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4357">#4357</a>] Die Sortierfunktion innerhalb der &#39;Journal Infos&#39;- und &#39;Topic Infos&#39;-Tabellen ist nun deaktiviert; die Reihenfolge der Einträge kann manuell geändert werden</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4363">#4363</a>] Die Kopierfunkion für &#39;Journal Infos&#39;- und &#39;Topic Infos&#39;-Einträge erlaubt es nun, die &#39;ID&#39; des Eintrags zu bearbeiten</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5675">#5675</a>] Instanzen (Objekte in der Spielwelt) werden nun mit dem richtigen Master-Index geladen und gespeichert, damit überschriebene Objekte nicht im Spiel geladen werden</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5703">#5703</a>] Kein Flackern und keine Abstürze mehr auf XFCE-Desktop-Umgebungen</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5713">#5713</a>] &#39;Collada&#39;-Modelle werden nun korrekt dargestellt</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/6235">#6235</a>] OpenMW-CS stürzt nun nicht mehr ab, wenn Änderungen am Höhenprofil des Terrains erst rückgängig gemacht und dann wiederholt werden (&quot;undo&quot;/&quot;redo&quot;)</li>
</ul>
</li>
<li><em>von Yoae</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5384">#5384</a>] Das Löschen von Instanzen in der 3D-Ansicht spiegelt sich nun unmittelbar in allen aktiven 3D-Ansichten wider</li>
</ul>
</li>
</ul>
<p><strong>Sonstiges:</strong></p>
<ul>
<li><em>von akortunov</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5026">#5026</a>] Wettlaufsituationen (&quot;data race&quot;) bei der Verwendung von &#39;rain intensity uniforms&#39; behoben</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5480">#5480</a>] Qt4 wird nun nicht mehr unterstützt: neue Mindestversion: Qt 5.12</li>
</ul>
</li>
<li><em>von AnyOldName3</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/4765">#4765</a>] OSG-Arrays können nun nicht mehr von unterschiedlichen Threads in OpenMWs &#39;ChunkManager&#39; gebunden werden</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5551">#5551</a>] Windows: OpenMW erzwingt nun keinen Neustart mehr während der Installation</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5904">#5904</a>] Mesa: OpenSceneGraph-Problem bzgl. RTT-Methode (&quot;render-to-texture&quot;) behoben</li>
</ul>
</li>
<li><em>von CedricMocquillon</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5520">#5520</a>] Verbesserte Behandlung des Kombinationsfeldes &#39;Start default character at&#39; (&quot;Starte mit Standard-Charakter in&quot;) im Launcher, um Warnmeldungen und Speicherlecks zu verhindern</li>
</ul>
</li>
<li><em>von fr3dz10</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5980">#5980</a>] Während der Konfiguration von OpenMW wird nun geprüft, ob &#39;Bullet&#39; (OpenMWs Physik-Engine) mit doppelter Präzision verwendet wird, und diese Option notfalls erzwungen <em>[Zusatz von akortunov]</em></li>
</ul>
</li>
<li><em>von glebm</em><ul>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5807">#5807</a>] Absturz auf ARM-Systemen behoben, der durch falsche Verarbeitung der Frame-Allokation im &#39;osg-ffmpeg-videoplayer&#39; verursacht wurde</li>
<li>[<a href="https://gitlab.com/OpenMW/openmw/-/issues/5897">#5897</a>] &#39;MyGUI&#39; aktualisiert, um Fehler bei dessen dynamischer Verlinkung zu verhindern</li>
</ul>
</li>
</ul>